.titles{
    color:#357af2;
}

.albumsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
}

.albumContainer {
    flex-basis: calc(20% - 20px);
    margin-bottom: 20px;
    padding: 50px 10px 50px 50px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.albumsContainerTopResult{
    display: flex;
    flex-wrap: wrap;
}

.albumContainerTopResult{
    flex-basis: calc(20% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.albumImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 20%;
}

.noImage {
    font-style: italic;
}

.artistsContainer {
    margin-bottom: 10px;
}

.tracksContainer {
    margin-bottom: 10px;
}

.trackList {
    list-style-type: none;
    padding-left: 0;
}

.trackList li {
    margin-bottom: 5px;
}

.trackNumber {
    font-weight: bold;
    margin-right: 5px;
}

/* Blue theme */
.albumContainer, .albumContainerTopResult {
    background-color: #e1f0ff;
}

.albumImage {
    border: 2px solid #357af2;
}

.playlistsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
}

.playlistContainer {
    flex-basis: calc(20% - 20px);
    margin-bottom: 20px;
    padding: 50px 10px 50px 50px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.playlistsContainerTopResult{
    display: flex;
    flex-wrap: wrap;
}

.playlistContainerTopResult{
    flex-basis: calc(20% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playlistImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
    border: 2px solid #357af2;
    border-radius: 20%;
}

.playlistDescription {
    margin-top: 10px;
}

.playlistTracks {
    margin-top: 10px;
}

/* Blue theme */
.playlistContainer, .playlistContainerTopResult {
    background-color: #e1f0ff;
}

.goBackButton {
    display: block;
    background-color: #357af2;
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 35px;
    font-size: 16px;
    margin-right: 20px;
}

.goBackButton:hover {
    background-color: #2859b7;
}

.userContainer{
    margin: 20px;
}


